*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40%;
    margin-top: 10px;
}
li {
    list-style: none;
    cursor: pointer;
}
.list{
    display: flex;
    gap: 20px;
    margin-left: 50px;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
button{
    color: white;
    /* font-weight: bold; */
    background-color: rgb(143, 103, 230);
    border: none;
    border-radius: 5px;
}
.btn-1 {
    padding: 10px 10px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-main{
    margin-top: 10%;
}
.left-main h1{
    font-size: 40px;
    color: rgb(57, 8, 103);
}
span{
    color:rgb(128, 82, 227);
}
.left-main p{
    margin-top: 20px;
    color: grey;
}
.btn-2{
    padding: 10px 15px;
    margin-top: 40px;
}
.right-main img{
    margin-top: 40px;
}
